.photo-card__like {
    margin-right: 20px;
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background: url(../../../image/like.svg) #fff no-repeat center;
}

.photo-card__like:hover {
    opacity: .5;
}