.form__button-text {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 455px) {
    .form__button-text {
        font-size: 14px;
        line-height: 17px;
    }
}